body {
    width: 100% !important;
    height: 100% !important;
    background: #ececec url('../images/background.jpeg') !important;
    text-align: center;
    color: #202020;
}

.login-page, .register-page {
    overflow: hidden;
}

.login-logo, .register-logo {
    font-size: 20px !important;
}

.login-box, .register-box {
    width: 360px !important;
    margin: 9% auto !important;
}

img {
    margin-top: 15px;
}

/*.login-logo {
    margin-bottom: 0px !important;
    opacity: 0.9;
    height: 60px !important;
    border-radius: 5px 5px 0px 0px !important;
    background-color: #ececec !important;
    padding: 15px !important;
    border: 1px solid #A0A3A3;
    border-bottom: 0px !important;
}*/


.login-box-body, .register-box-body {
    opacity: 0.9;
    background: #ececec;
    border: 1px solid #A0A3A3;
    /*border-top: 1px solid #ececec !important;*/
    padding: 15px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.footer {
    color: #fff;
    height: 20px;
    background-color: #151515;
    opacity: .5;
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0;
    text-align: right;
}

.footer > .login-box {
    padding-left: 15px;
    padding-right: 15px;
}

/*@media (max-width: 1024px) {
    .login-box, .register-box {
        width: 400px !important;
        margin: 35% auto !important;
    }
}

@media (max-width: 768px) and (max-width: 1024px) {
    .login-box, .register-box {
        width: 400px !important;
        margin: 30% auto !important;
    }
}

@media (max-width: 414px) {
    .login-box, .register-box {
        width: 350px !important;
        margin: 30% auto !important;
    }
}*/
@media (max-width: 375px) {
    .login-box, .register-box {
        width: 300px !important;
        margin: 25% auto !important;
    }
}

@media (max-width: 320px) {
    .login-box, .register-box {
        width: 280px !important;
        margin: 20% auto !important;
    }
}
