@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css" />

        <link rel="stylesheet" href="~/css/animation.css" />
        <link rel="stylesheet" href="~/css/login.css" />
        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

    </environment>

</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo invisible">
            <span style="font-size: 25px !important;font-weight: bolder;margin-top: 15px !important;">AdminLTE 3.0</span>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div class="login-box-msg">
                <img src="~/images/smarthr-sm.png" alt="#" style="height:100px !important;" /><br /><br />
            </div>

            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class=" fas fa-envelope"></i></span>
                        </div>
                        <input asp-for="Email" type="text" placeholder="E-mail" class="form-control" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class=" fas fa-lock"></i></span>
                        </div>
                        <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-flat btn-block btn-dark"><i class="fas fa-unlock"></i> Entrar</button>
                </div>
                <div class="form-group">
                    <a asp-area="" asp-action="ForgotMyPassword">Esqueci minha senha</a>
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->

    </div>
    <!-- /.login-box -->
    <!-- Footer -->
    <div class="footer ">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <!--Anything you want-->
            V1.0.0.1.&nbsp; Copyright &copy; @DateTime.Now.Year &nbsp;<strong><a href="#" target="_blank"> Copyright</a>.&nbsp; </strong>&nbsp;Todos os direitos reservados &nbsp;&nbsp;
        </div>
        <!-- Default to the left -->

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/admin-lte/dist/js/adminlte.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/admin-lte/dist/js/adminlte.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
